<tr>
  <td>
    <div class="container">
      <div class="page-header"></div>
    </div>
    <div class="profile-thumbnail">
      <a href="{{ url_for('.user', username=comment.author.username) }}">
        {% if comment.author.avatar_file %}
        <img class="img-rounded profile-thumbnail" src="{{ url_for('static', filename=comment.author.avatar_file) }}"
             width="40" height="40">
        {% else %}
        <img class="img-rounded profile-thumbnail" src="{{ comment.author.avatar(size=40) }}">
        {% endif %}
      </a>
    </div>
    <div style="margin-left:10%;" class="comment-body">
      {% if comment.disabled %}
      <p></p><i>This comment has been disabled by a moderator.</i><p></p>
      {% endif %}
      {% if moderate or not comment.disabled %}
        {% if comment.body_html %}
          {{ comment.body_html | safe }}
        {% else %}
          {{ comment.body }}
        {% endif %}
      {% endif %}
    </div>
    <div class="comment-content">
      <div style="float:right;" class="comment-footer">
        {% if current_user == comment.author %}
        <a href="{{ url_for('.edit_comment', id=comment.id) }}">
          <span class="label label-primary">Edit</span>
        </a>
        <a href="{{ url_for('.delete_comment', id=comment.id) }}">
          <span class="label label-primary">Delete</span>
        </a>
        {% endif %}
        {% if moderate %}
        {% if comment.disabled %}
        <a class="btn btn-default btn-xs" href="{{ url_for( '.moderate_enable', id=comment.id) }}">Enable</a>
        {% else %}
        <a class="btn btn-danger btn-xs" href="{{ url_for( '.moderate_disable', id=comment.id) }}">Disable</a>
        {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="comment-author"><a href="{{ url_for('.user', username=comment.author.username)}}">@{{
      comment.author.username}}</a></div>
    <div style="float: right;" class="post-timestamp">{{ moment(comment.created_at).fromNow() }}</div>
  </td>

</tr>