<tr>
    <td>
      <div class="container">
        <div class="page-header"></div>
      </div>

      {% if follower['user'].avatar_file %}
      <img class="img-rounded profile-thumbnail" src="{{ url_for('static', filename=follower['user'].avatar_file) }}" width="40" height="40">
      {% else %}
      <img class="img-rounded profile-thumbnail" src="{{ follower['user'].avatar(size=40) }}">
      {% endif %}
      </a>

      <div style="margin-left:10%;" class="follower-body">
        <a href="/user/{{ follower['user'].username }}">@{{ follower['user'].username }}</a>
      </div>
    </td>

  </tr>