{% extends "base.html" %}

{% block title %}User - {{ user.username }}{% endblock %}
{% block page_content %}
<table>
  <tr>
    <td>
      {% if user.avatar_file %}
      <img class="img-rounded profile-thumbnail" src="{{ url_for('static', filename=user.avatar_file) }}" width="200"
           height="200">
      {% else %}
      <img class="img-rounded profile-thumbnail" src="{{ user.avatar(size=200) }}">
      {% endif %}
    </td>
    <td>
      <div class="container">
        <div class="page-header">
          <h1>{{ user.username }}</h1>
          {% if user.name or user.location %}
          <p>
            {% if user.name %}{{ user.name }}{% endif %}
            {% if user.location %}From <a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a>
            {% endif %}
          </p>
          {% endif %}
          <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
          {% if user.bio %}
          <p>{{ user.bio }}</p>
          {% endif %}
          <p>
            Member since: {{ moment(user.created_at).format('L') }}
          </p>
          <p>
            Last seen: {{ moment(user.last_seen).fromNow() }}
          </p>
          <p>
            Statuses: <span class="badge">{{ user.posts.count() }}</span>
          </p>
          {% if current_user.can_do(Permission.FOLLOW) and user != current_user %}
          {% if not current_user.is_following(user) %}
          <a href="{{ url_for('.follow', username=user.username )}}" class="btn btn-primary">Follow</a>
          {% else %}
          <a href="{{ url_for('.unfollow', username=user.username )}}" class="btn btn-default">UnFollow</a>
          {% endif %}
          {% endif %}
          <a href="{{ url_for('.followers', username=user.username) }}"><span
              class="badge">Followers: {{ user.followers.count() }}</span>
          </a>
          <a href="{{ url_for('.followed', username=user.username) }}"><span
              class="badge">Followings: {{ user.followed.count() }}</span>
          </a>
        </div>
      </div>
    </td>
  </tr>
</table>

{% if user.is_administrator()  %}
<a class="btn btn-danger" href="{{ url_for('main.update_profile_for_admin', id=user.id) }}">Edit Profile[Admin]</a>
{% else %}
<a class="btn btn-default" href="{{ url_for('main.update_profile') }}">Edit Profile</a>
{% endif %}

{% if current_user.username == user.username %}
<a class="btn btn-default" href="{{ url_for('main.change_avatar') }}">Update Avatar</a>
{% endif %}
{% endblock %}